<%= form_for(@customer) do |f| %>
  <%= f.error_notification %>


  <%= f.fields_for :appointments do |builder|%>
    <fieldset>
      <%= builder.label :appointment_start_time %>
      <%= builder.datetime_select :appointment_start_time %>
      <%= builder.label :appointment_end_time %>
      <%= builder.datetime_select :appointment_end_time %>
    </fieldset>
  <%end%>


  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :zip_code %>
    <%= f.input :dob %>
    <%= f.input :mobile %>
    <%= f.input :email %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
