<h2>Import Customers</h2>

<%= form_tag import_customers_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= hidden_field_tag :client_id => current_user.role_id%>
  <%= submit_tag "Import" %>
<% end %>

<p><h2>Search Customers</h2></p> 

<%= form_tag customers_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>


<%= link_to "Excel", customers_path(format: "xls") %>
<h1>Listing customers</h1>

<table>
  <thead> 
    <tr>
      <th>Title</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip code</th>
      <th>Dob</th>
      <th>Mobile</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.title %></td>
        <td><%= customer.first_name %></td>
        <td><%= customer.last_name %></td>
        <td><%= customer.address %></td>
        <td><%= customer.city %></td>
        <td><%= customer.state %></td>
        <td><%= customer.zip_code %></td>
        <td><%= customer.dob %></td>
        <td><%= customer.mobile %></td>
        <td><%= customer.email %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
